heading {
    text-shadow: 1px 1px 2px #45b6fe;
    color:#02a2f4;
  }

  input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    /* box-shadow: inset 0 0 20px 20px #23232329; */
}


  .center {
    border: 1px solid;
    border-radius: 1rem;
    /* padding: 4rem; */
    width: 50%;
    padding: 14px;
    text-align: center;
  }

.footer_color {
    color: white;
}

.footer_margin{
    margin: 0;
    padding: 0;
}

.label-data{
  padding: 8px;

}


.nav-marg{
  margin: 0px 10px;
}

  /* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"); */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --bg: #000000;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur: 1rem;
  --fs: clamp(1rem, 8vw, 4rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

@media (min-width: 768px) {
  :root {
    --fs: clamp(1rem, 5vw, 3rem);
  }
}

body {
  min-height: 100vh;
  /* display: grid; */
  /* place-items: center; */
  background-color: var(--bg);
  color: #fff;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

.content {
  text-align: center;
}

.title {
  font-size: var(--fs);
  font-weight: 600;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  background: var(--bg);
  margin: 0;
}
.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}


.mdi--github {
  display: inline-block;
  width: 3em;
  height: 3em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2'/%3E%3C/svg%3E");
  background-color: white;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.simple-icons--kaggle {
  display: inline-block;
  width: 3em;
  height: 3em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M.103 7.348c-.069 0-.103.034-.103.102v6.752c0 .068.034.102.103.102h.704c.068 0 .103-.034.103-.103v-1.48l.418-.4l1.502 1.91a.184.184 0 0 0 .143.072h.909c.048 0 .075-.013.082-.04c.013-.041.006-.075-.02-.102l-1.982-2.462l1.9-1.839c.02-.02.023-.05.01-.092c-.014-.034-.041-.05-.082-.05h-.94c-.047 0-.095.023-.143.07L.91 11.608V7.45c0-.068-.035-.102-.103-.102zm18.041 0c-.068 0-.102.034-.102.102v6.752c0 .068.034.101.102.101h.705c.068 0 .102-.034.102-.102V7.45c0-.068-.034-.102-.102-.102zM5.961 9.625c-.565 0-1.11.181-1.634.542c-.055.054-.065.102-.031.143l.368.52c.027.048.071.055.133.021c.394-.272.783-.409 1.164-.409c.293 0 .516.09.669.266a.84.84 0 0 1 .2.644c-.661.068-1.155.15-1.482.245c-.83.238-1.246.691-1.246 1.358c0 .422.153.77.46 1.042c.313.266.684.398 1.113.398c.47 0 .855-.112 1.154-.337v.143c0 .069.038.102.113.102h.704c.068 0 .102-.033.102-.102v-2.829c0-.66-.224-1.14-.674-1.44c-.306-.205-.677-.307-1.113-.307m4.323 0c-.675 0-1.196.263-1.563.787c-.313.436-.47.967-.47 1.594c0 .66.163 1.208.49 1.644c.375.497.892.745 1.553.745c.531 0 .957-.132 1.277-.398v.531c0 .858-.413 1.287-1.236 1.287c-.361 0-.732-.19-1.114-.572a.098.098 0 0 0-.071-.03a.11.11 0 0 0-.082.03l-.48.48c-.04.062-.038.113.01.154c.136.115.256.212.358.29c.102.079.19.142.265.19c.354.197.729.296 1.124.296c.68 0 1.207-.193 1.578-.577c.371-.385.557-.949.557-1.69V9.82c0-.068-.034-.102-.102-.102h-.705c-.069 0-.102.034-.102.102v.204c-.348-.266-.777-.399-1.287-.399m4.802 0c-.675 0-1.195.263-1.563.787c-.313.436-.47.967-.47 1.594c0 .66.163 1.208.49 1.644c.375.497.892.745 1.553.745c.531 0 .957-.132 1.277-.398v.531c0 .858-.412 1.287-1.236 1.287c-.361 0-.732-.19-1.114-.572a.098.098 0 0 0-.071-.03a.11.11 0 0 0-.082.03l-.48.48c-.04.062-.037.113.01.154c.136.115.256.212.358.29c.102.079.19.142.266.19c.354.197.728.296 1.123.296c.681 0 1.207-.193 1.578-.577c.371-.385.557-.949.557-1.69V9.82c0-.068-.034-.102-.102-.102h-.705c-.068 0-.102.034-.102.102v.204c-.348-.266-.777-.399-1.287-.399m6.745 0c-.653 0-1.185.211-1.593.634c-.443.463-.664 1.028-.664 1.695c0 .709.225 1.29.674 1.747c.463.463 1.042.694 1.737.694c.646 0 1.215-.183 1.705-.551c.055-.041.055-.088 0-.143l-.48-.49c-.04-.041-.092-.041-.153 0c-.3.21-.637.316-1.011.316c-.423 0-.773-.119-1.052-.357a1.318 1.318 0 0 1-.43-.838h3.32c.068 0 .102-.034.102-.102l.01-.224c.035-.688-.166-1.26-.602-1.717a2.075 2.075 0 0 0-1.563-.664m-.02.787a1.2 1.2 0 0 1 .837.317c.246.21.371.473.378.786h-2.461c.06-.327.207-.592.439-.797c.231-.204.5-.306.807-.306m-11.425.102c.62 0 1.014.218 1.185.654v1.685c-.17.436-.576.654-1.216.654c-.313 0-.569-.099-.766-.296c-.266-.252-.398-.654-.398-1.206c0-.994.398-1.491 1.195-1.491m4.802 0c.62 0 1.015.218 1.185.654v1.685c-.17.436-.576.654-1.216.654c-.313 0-.568-.099-.766-.296c-.265-.252-.398-.654-.398-1.206c0-.994.398-1.491 1.195-1.491m-8.359 1.655v1.021c-.286.286-.667.412-1.144.378a.88.88 0 0 1-.45-.158a.516.516 0 0 1-.224-.363c-.034-.266.116-.47.45-.613c.245-.109.7-.197 1.368-.265'/%3E%3C/svg%3E");
  background-color: white;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .greenShadow {
    text-shadow: 0 0 5px #39FF14, 0 0 10px #39FF14, 0 0 15px #39FF14, 0 0 20px #39FF14;
  }
  
  .redShadow {
    text-shadow: 0 0 5px #FF3131, 0 0 10px #FF3131, 0 0 15px #FF3131, 0 0 20px #FF3131;
  }
  